.footer-soc{
    @media screen and (min-width: 1200px) {
         margin-left: 70px;  
    }

    &__title{
        @include font(14px, 1.14, 700, 0.03em);
text-transform: uppercase;
    color: var(--footer-soc-title-color);
    margin-bottom: 20px;
    text-align: center;

    @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

&__list{
   display: flex; 
   justify-content: center;
}
}

.footer-soc__item{
display: flex;

&:not(:last-child){
    margin-right: 10px;
}
}

.footer-soc__link{
   margin: 0;
    padding: 0;
    width: 44px;
    height: 44px;
background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #FFFFFF;
    box-sizing: border-box;
    object-fit: contain;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:active,
&:hover,
&:focus{
     fill: var(--hero-btn-color);
background-color: var(--header-accent-color);
  box-sizing: border-box;
  border-radius: 50%;
}
}

.footer-email{
    display: block;
    text-align: center;

    @media screen and (min-width: 768px) {
    width: 450px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1200px) {
    width: 570px;
    height: 86px;
    margin-left: 93px;
  }

&__title{
    @include font(14px, 1.14, 700, 0.03em);
text-transform: uppercase;
    color: var(--footer-soc-title-color);
    margin-bottom: 20px;

    @media screen and (min-width:1200px) {
      text-align: left;
    }
}

&__contain{
    @media screen and (max-width: 767px) {
    display: block;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;
  }
}
}

.email__input{
  color: #FFFFFF;
height: 50px;
   background-color: transparent;
   box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   padding-left: 16px;
  @media screen and (max-width: 767px) {
     width: 100%;
        margin-bottom: 20px;
    }

     @media screen and (min-width: 768px) {
width: 450px;
margin-bottom: 20px;
     }

      @media screen and (min-width: 1200px) {
   width: 358px; 
    margin-right: 12px;  
    margin-bottom: 0px;  
}
}

.submit-btn-email{
  display: flex;
    @include font(16px, 1.88, 700, 0.06em);
    width: 200px;
height: 50px;
margin-left: auto;
margin-right: auto;
padding-left: 29px;
align-items: center;
text-align: center;
color: #FFFFFF;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: transparent;

}

.submit-btn-email-icon{
    fill: currentColor;
    margin-left: 10px;
}
