.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal{
    transform: scale(0.5);
}

.modal{
    position: absolute;
    padding: 40px;
    width: 450px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms;
    z-index: -1;

    @media screen and (max-width:479px) {
       width: 100%; 
    }

    @media screen and (min-width:1200px) {
        width: 528px;
    }
}

.modal-close-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
}

.modal-close-btn:hover,
.modal-close-btn:focus{
    fill: #2196F3;
}

.is-hidden{
     visibility: hidden;
    opacity: 0;
  pointer-events: none;
 
}



.modal-field{
position: relative;
 margin-bottom: 10px;
}

.modal-field + .commit{
    margin-bottom: 20px;
}

.modal-field + .polity{
    margin-bottom: 30px;
}

.modal-title{
    font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 12px;
}

.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
outline: none;
 padding-left: 42px;
 cursor: pointer;
 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus, .modal-input:hover{
    border-color: var(--header-accent-color);
}

.modal-input:focus + .input-icon, 
.modal-input:hover + .input-icon
{
    fill: var(--header-accent-color);
}

.modal-lable{
display: flex;
margin-bottom: 4px;
  font-size: 12px;
line-height: 1.166;
letter-spacing: 0.01em;
color: #757575;  

}

.modal-input-wrap{
    position: relative;
}

.input-icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea{
    display: block;
width: 100%;
height: 120px;
      resize: none;
border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
outline: none;
padding: 15px;
cursor: pointer;
 transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus , 
.modal-textarea:hover{
    border-color: var(--header-accent-color);
}


.modal-textarea::placeholder{
    font-size: 12px;
line-height: 1.66;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);
}

.check-text{
    justify-content: center;
    font-size: 12px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
display: flex;
align-items: center;

@media screen and (min-width:1200px) {
    font-size: 14px;
}
}

.check-icon{
    fill: transparent;
}

.check-text span{
     width: 16px;
height: 15px;
border-radius: 2px;
border: 2px solid #212121;
margin-right: 8px;
display: flex;
justify-content: center;
align-items: center;
}

.input-check:checked + .check-text span{
 background-color: #2196F3;  
 border: transparent; 
}

.input-check:checked + .check-text .check-icon{
fill: #FFFFFF;
}

.check-polity{
    font-size: 12px;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration-line: underline;

color: #2196F3;

@media screen and (min-width:1200px) {
    font-size: 14px;
}
}

.submit-btn{
    width: 200px;
height: 50px;
background: #188CE8;
color: var(--hero-btn-color);
border: transparent;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-size: 16px;
line-height: 1.88;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;
}

