.section{
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
         padding-top: 94px;
    padding-bottom: 94px;  
    }
}

.section__title{
@include font(28px, 1.17, 700, 0.03em);
    margin-bottom: 30px;
    color: var(--main-first-color);
text-align: center;

    @media screen and (min-width: 1200px) {
        @include font(36px, 1.2, 700, 0.03em);
         margin-bottom: 50px;
    } 
}