:root{
--header-color: #212121;
--header-content-color: #757575;
--header-accent-color:#2196F3;
--main-first-color: #212121;
--main-second-color: #757575;
--second-btn-color: #FFFFFF;
--link-color: #2196F3;
--logo-color:#000000;
--logo-span-color:#2196F3;
--hero-bcg-color: #2F303A;
--hero-title-color: #FFFFFF;
--hero-btn-color: #FFFFFF;
--team-bcg-color: #F5F4FA;
--footer-bcg-color: #2F303A;
--footer-logo-color:#FFFFFF;
--footer-map-color:#FFFFFF;
--footer-link-color:rgba(255, 255, 255, 0.6);
--footer-soc-title-color:#FFFFFF;

}
